<ng-container *ngIf="loading; else notLoading">
    <div class="center-align">
        <h6>loading...</h6>
    </div>
</ng-container>

<ng-template #notLoading>
    <ng-container *ngIf="flights && flights.length; else flightsNotLoaded">
        <ul class="collapsible" materialize="Collapsible">
            <li  *ngFor="let flight of flights">
                <div class="collapsible-header">Flight {{flight.icao24 | uppercase}}</div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s6 bl">
                            <b>FIRST SEEN</b>
                            <h6>{{flight.firstSeen * 1000 |date:'medium'}}</h6>
                        </div>
                        <div class="col s6 bl">
                            <b>LAST SEEN</b>
                            <h6>{{flight.lastSeen * 1000 |date:'medium'}}</h6>
                        </div>
                        <div class="col s6 bl">
                            <b>CALL SIGN</b>
                            <h6>{{flight.callsign | uppercase}}</h6>
                        </div>

                        <ng-container *ngIf="flight.estDepartureAirport == code; else otherAirport">
                            <div class="col s6 bl">
                                <b>ARRIVAL AIRPORT</b>
                                <h6>{{flight.estArrivalAirport | uppercase}}</h6>
                            </div>
                        </ng-container>

                        <ng-template #otherAirport>
                            <div class="col s6 bl">
                                <b>DEPARTURE AIRPORT</b>
                                <h6>{{flight.estDepartureAirport | uppercase}}</h6>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </li>
        </ul>
    </ng-container>
    
    <ng-template #flightsNotLoaded>
        <blockquote>
            <b>Could not load flights, please try again</b>
        </blockquote>
    </ng-template>
</ng-template>
