
<main>
    <!--  Parallax Section  -->
      <div class="parallax-container" >
        <div class="parallax" materialize="Parallax"><img src="/assets/atlanta-airport.jpg" style="transform: translate3d(-50%, 280.984px, 0px); opacity: 1;"></div>
      </div>
      <div class="section white">
        <div class="row" style="padding-right: 50px; padding-left: 50px">
          
          
                
                    <app-city-list></app-city-list>
            
                    <!--view modal-->
                    <div id="modal3" class="modal" materialize="Modal" [materializeActions]="modalActions">
                        <a (click)="closeModal()" class="modal-close waves-effect waves-light btn-flat right">
                            <i class="material-icons">cancel</i>
                        </a>
                        <ng-container *ngIf="(city$ | async) as city">
                            <app-city-modal 
                                [city]="city" 
                                [flights]="flights$ | async"
                                (flightParamsChanged)="changeFlightParams($event)"
                                [loading]="flightsLoading$ | async"
                            ></app-city-modal>
                        </ng-container>
                    </div>
                    <!--view Modal-->
        </div>
      </div>
      <div class="parallax-container" >
        <div class="parallax" materialize="Parallax"><img src="/assets/atlanta-airport.jpg" style="opacity: 1; transform: translate3d(-50%, 5.10933px, 0px);"></div>
      </div>
    
      
      <!--  Scripts-->
    </main>