<div class="row">
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li><a routerLink="/">View Airports</a></li>
        <li><a routerLink="/">Top Flight</a></li>
        <li><a routerLink="/">Breaking News</a></li>
        <li><a routerLink="/">Flight Reminder</a></li>
        <li><a routerLink="/">My Records</a></li>
        <li><a routerLink="/">Personal Records</a></li>
    </ul>
    <div class="container" style="margin-top: 20px; padding-left: 310px">
        <app-city-list></app-city-list>

        <!--view modal-->
        <div id="modal3" class="modal" materialize="Modal" [materializeActions]="modalActions">
            <a (click)="closeModal()" class="modal-close waves-effect waves-light btn-flat right">
                <i class="material-icons">cancel</i>
            </a>
            <ng-container *ngIf="(city$ | async) as city">
                <app-city-modal 
                    [city]="city" 
                    [flights]="flights$ | async"
                    (flightParamsChanged)="changeFlightParams($event)"
                    [loading]="flightsLoading$ | async"
                ></app-city-modal>
            </ng-container>
        </div>
        <!--view Modal-->
    </div>
</div>
<div class="row">
    <div class="center-align">
        <p>
            Cities with heavy air traffic (<a href="https://www.internationalairportreview.com/article/32311/top-20-largest-airports-world-passenger-number/" target="__blank">source</a>)| 
            <a (click)="logout()" style="cursor: pointer;">Logout</a>
        </p>
    </div>
</div>