<h4 class="center">{{city.name}}</h4>
<h6 class="center">{{city.airport}} ({{city.code}})</h6>

<div class="container">
    <div class="row" [formGroup]="flightsForm">
        <div class="col s3 input-field">
            <small>Arrival/Departure</small>
            <select materialize="FormSelect" formControlName="flightType">
                <option value="arrival">Arrival</option>
                <option value="departure">Departures</option>
            </select>
        </div>

        <div class="col s4 input-field">
            <small>Interval</small>
            <select materialize="FormSelect" formControlName="intervalType">
                <option value="minutes">Mintues</option>
                <option value="hours">Hours</option>
            </select>
        </div>

        <div class="col s4 input-field">
            <small>{{flightsForm.get('intervalType').value}} Interval</small>
            <select materialize="FormSelect" formControlName="begin">
                <option 
                    *ngFor="let num of numbers[flightsForm.get('intervalType').value]" 
                    [value]="num"
                >{{num}}</option>
            </select>
        </div>

        <div class="col s1 input-field" style="padding-top: 30px">
            <button class="btn" (click)="submit()">Submit</button>
        </div>
    </div>

    <div class="row">
        <app-city-flight-list [flights]="flights" [loading]="loading"></app-city-flight-list>
    </div>

</div>