<h4 class="center">{{city.name}}</h4>
<h6 class="center">{{city.airport}} ({{city.code}})</h6>

<div class="container">
    <div class="row" [formGroup]="flightsForm">
        <div class="col s4 input-field">
            <small>Arrival/Departure</small>
            <select materialize="FormSelect" formControlName="flightType">
                <option value="arrival">Arrival</option>
                <option value="departure">Departures</option>
            </select>
        </div>

        <div class="col s4 input-field">
            <small>Interval</small>
            <select materialize="FormSelect" formControlName="intervalType">
                <option value="minutes">Mintues</option>
                <option value="hours">Hours</option>
            </select>
        </div>

        <div class="col s4 input-field">
            <small>{{flightsForm.get('intervalType').value}} Interval</small>
            <select materialize="FormSelect" formControlName="begin">
                <option 
                    *ngFor="let num of numbers[flightsForm.get('intervalType').value]" 
                    [value]="num"
                >{{num}}</option>
            </select>
        </div>
    </div>

    <ng-container *ngIf="flightsForm.touched; else fetchBtn">
        <div class="row">
            <app-city-flight-list [flights]="flights"></app-city-flight-list>
        </div>
    </ng-container>

    <ng-template #fetchBtn>
        <div class="row">
            <div class="center-align">
                <button class="btn" (click)="submit()">Fetch Flights</button>
            </div>
        </div>
    </ng-template>
</div>